{% extends 'base.html.twig' %}

{% block title %}Contactez-nous -
	{{ parent() }}
{% endblock %}

{% block body %}

	<h1>Contactez-nous</h1>
	{{form_start(form)}}
	    {{form_widget(form)}}

        <button class="btn btn-primary" formnovalidate>Envoyer</button>
	{{form_end(form)}}
{% endblock %}
